### Visual Studio ###
## Временные файлы сборки
[Dd]ebug/
[Rd]elease/
[Rr]eleases/
x64/
x86/
[Bb]in/
[Oo]bj/
*.sdf
*.opensdf
*.suo
*.user
*.VC.db
*.VC.opendb
*.pch
*.ipch

## Бинарные и промежуточные файлы
*.exe
*.dll
*.lib
*.pdb
*.ilk
*.exp
*.idb
*.tlog
*.log

## Папка конфигураций VS
.vs/

### Python/Django ###
## Виртуальное окружение
venv/
.env/

## Кэш интерпретатора
__pycache__/
*.py[cod]

## Базы данных
*.sqlite3
*.db

## Статика и медиа (если используются)
server/static/
server/media/

### Системные файлы ###
.DS_Store
Thumbs.db