{% extends 'base.html' %}
{% block content %}
<h1>Список клиентов</h1>
<table border="1" cellpadding="4">
  <tr>
    <th>Домен</th><th>Компьютер</th><th>Пользователь</th><th>IP</th><th>Последняя активность</th><th>Скриншот</th>
  </tr>
  {% for client in clients %}
  <tr>
    <td>{{ client.domain }}</td>
    <td>{{ client.computer_name }}</td>
    <td>{{ client.username }}</td>
    <td>{{ client.ip_address }}</td>
    <td>{{ client.last_active }}</td>
    <td><a href="{% url 'client-detail' client.pk %}">Просмотр</a></td>
  </tr>
  {% endfor %}
</table>
{% endblock %}